<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>POSTHOG_API_KEY</key>
	<string>$(POSTHOG_API_KEY)</string>
	<key>POSTHOG_HOST</key>
	<string>$(POSTHOG_HOST)</string>
	<key>UIAppFonts</key>
	<array>
		<string>RalewayDots-Regular.ttf</string>
	</array>
	<key>CFBundleDisplayName</key>
	<string>10shots</string>
	<key>NSCameraUsageDescription</key>
	<string>10shots needs camera access to capture shots at events</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>10shots needs access to save shots to your camera roll</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.asad.Momento</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>momento</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
